{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
{{!master(layout/_master.tmpl)}}

    <div class="conceptual-header"></div>
    <div class="header-logo-container"><div class="header-logo-block"></div></div>
    <div class="container-xxl">
        <header class="row conceptual-header-row">
            {{>partials/navbar}}
        </header>

        <section class="row">
            <div class="leaderboard-top-banner">
                <div class="google-ad google-ad-top-banner"> </div>
            </div>
        </section>
        
        <section class="row row-margin-double">
            <div class="col-lg-12">
                <div class="conceptual-banner">
                    <div class="geekdojo-profile geekdojo-profile-md inline-block" style="margin-right: 1rem;"></div><div class="inline-block transform-y-50">
                        <h4 class="text-hv-weight">{{title}}</h4>
                        <div class="text-sm">by geekdojo</div>
                    </div>
                    <div class="pull-right">
                        {{^hideContrib}}
                        {{#docurl}}
                        <div class="is-card feedback-edit-link">
                            <a href="{{docurl}}" target="_blank" title="Send feedback about this page">
                                <i class="far fa-comment-dots"></i> Feedback
                            </a>
                        </div>
                        {{/docurl}}
                        {{#sourceurl}}
                        <div class="is-card feedback-edit-link">
                            <a href="{{sourceurl}}" target="_blank" title="Edit This Document" >
                                <i class="far fa-edit"></i> Edit
                            </a>
                        </div>		
                        {{/sourceurl}}
                        {{/hideContrib}}
                    </div>
                </div>
            </div>
        </section>

        {{^hideProjectHeader}}
        <section class="row">
            <div class="col-lg-8">
                <div class="project-img-carousel">
                    <div class="row">
                        <div class="fotorama" data-nav="thumbs" data-width="100%">
                            {{#imagegallery}}<img src="{{{.}}}">{{/imagegallery}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="content-normal" style="display:none;">
                    <div>
                        <h4>Share</h4>
                        <hr class="header-rule">
                        <div class="project-share">
                            <div class="project-share-item"><i class="fal fa-link"></i> Copy Link</div>
                            <div class="project-share-item"><i class="fab fa-facebook-square"></i> Facebook</div>
                            <div class="project-share-item"><i class="fab fa-twitter-square"></i> Twitter</div>
                        </div>
                    </div>
                </div>
                <div class="content-normal project-files">
                    <h4>Files</h4>
                    <hr class="header-rule">
                    {{^projectfiles}}
                    No files for this article.
                    {{/projectfiles}}
                    {{#projectfiles}}
                        <div class="project-file"><a href="{{{fileUri}}}" target="_blank" ><i class="fal {{{type}}}"></i> {{{title}}}</a></div>
                    {{/projectfiles}}
                </div>                
                <div class="content-normal" style="display:none;">
                    <div class="google-ad google-ad-large-rect"></div>
                </div>
            </div>
        </section>
        {{/hideProjectHeader}}

        <section class="row article">
            <div class="col-lg-8">
                <article class="content-normal">
                    {{{conceptual}}}
                </article>
            </div>
            <div class="col-lg-4" id="affix-wrapper">
                <nav class="bs-docs-sidebar hidden-print affix content-normal" id="affix">
                    <h5>{{__global.inThisArticle}}</h5>
                    <hr class="header-rule">
                    <div></div>
                </nav>
            </div>
        </section>
    </div>