{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
{{!master(layout/_master.tmpl)}}

    <div class="conceptual-header"></div>
    <div class="header-logo-container"><div class="header-logo-block"></div></div>
    <div class="container-xxl">
        <header class="row conceptual-header-row">
            {{>partials/navbar}}

            <div class="conceptual-banner">
                <h1>{{title}}</h1>
            </div>
        </header>
    </div>
    
    <section>
        <div class="row">
            <div class="col-lg-5 d-none d-lg-block" id="breadcrumb">
                <ul class="breadcrumb pull-left">
                    <li>{{title}}</li>
                </ul>
            </div>
            <div class="col-lg-4 d-none d-lg-block"></div>
            <div class="col-lg-3 d-none d-lg-block">
                <ul class="is-horizontal pull-right">
                    {{#docurl}}
                    <li id="feedback-section-link">
                        <a href="{{docurl}}" target="_blank" title="Send feedback about this page">
                            <i class="far fa-comment-dots"></i> Feedback
                        </a>
                    </li>
                    {{/docurl}}
                    {{#sourceurl}}
                    <li id="contenteditbtn">
                        <a href="{{sourceurl}}" target="_blank" title="Edit This Document" >
                            <i class="far fa-edit"></i> Edit
                        </a>
                    </li>		
                    {{/sourceurl}}				
                </ul>
            </div>
        </div>
    </section>

    <section>          
        <div class="row article">
            <div class="col-md-0 col-lg-2 d-none d-lg-block">
                {{>partials/toc}}
            </div>
            <div class="col-md-12 col-lg-8">
                <article>
                    <h2>{{{title}}}</h2>
                    <div>{{{summary}}}</div>

                    {{{conceptual}}}
                </article>
            </div>
            <div class="col-md-0 col-lg-2 d-none d-lg-block">
                <nav class="bs-docs-sidebar hidden-print affix" id="affix">
                    <h5>{{__global.inThisArticle}}</h5>
                    <div></div>
                </nav>
            </div>
        </div>
    </section>

    {{>partials/scripts}}