{{!master(layout/_master.tmpl)}}

<section class="hero-banner">    
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-8">
            <div class="is-text-centered">Latest Project</div>
            <hr class="hr-section-sep" />
            <div class="hero-builds">
                <div>
                    {{#mainFeaturette}}
                    <a href="{{{title_url}}}" title="{{{title}}}" target="{{{title_url_target}}}"><img src="{{{image_url}}}" class="mainFeatureImg is-centered"></a>
                    {{/mainFeaturette}}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="is-text-centered">Inspiration</div>
            <hr class="hr-section-sep" />

            {{#inspiration}}

            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-builds">
                        <div>
                            <a href="{{{title_url}}}" title="{{{title}}}" target="{{{title_url_target}}}"><img src="{{{image_url}}}" class="inspirationImg is-centered"></a>
                        </div>
                    </div>
                </div>
            </div>

            {{/inspiration}}
            
            <button class="btn btn-outline-primary" style="width:100%; margin-top:20px" onclick="window.location.href='/inspiration/index.html'">See more</button>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="is-text-centered">Projects</div>
            <hr class="hr-section-sep" />
            
            {{#projects}}

            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-builds hero-builds-small">
                        <div>
                            <a href="{{{title_url}}}" title="{{{title}}}" target="{{{title_url_target}}}"><img src="{{{image_url}}}" class="inspirationImg is-centered"></a>
                        </div>
                    </div>
                </div>
            </div>

            {{/projects}}
            
            <button class="btn btn-outline-primary" style="width:100%; margin-top:20px" onclick="window.location.href='/projects/index.html'">See more</button>
        </div>
    </div>

    <hr class="hr-section-sep"/>
  </section>

  <section>
    <p class="supertitle is-uppercase letter-spacing-wide font-size-xs margin-bottom-none">LEARN</p>
    <h2 class="title margin-top-none margin-bottom-xs margin-pull-left2">All the Things</h2>
    <div>
        <ul class="docs-dir">
            {{#learn}}
            
            <li class="list-group-item">
                <a href="{{{title_url}}}" title="{{{title}}}" target="{{{title_url_target}}}" class="bar-link">
                    {{{title}}}
                </a>
            </li>

            {{/learn}}
        </ul>
    </div>
</section>
