{{!master(layout/_master.tmpl)}}

    <div class="header-homepage"></div>
    <div class="header-logo-container"><div class="header-logo-block"></div></div>
    <div class="container-xxl">
        <header class="row homepage-header-row">
            {{>partials/navbar}}

            <div class="main-banner">
                <h1 class="text-title-weight">Geeks Learning Geek Things</h1>
                <p>
                    Find inspiration, learn how technologies work, geek out on some new projects, and see what tools can help get the job done.
                </p>
                <div>
                    <form class="form-inline" action="search.html">
                        <input class="form-control-inline main-banner-searchbox" type="search" name="q" aria-label="Search" placeholder="Search" /><button class="btn btn-primary btn-header-search main-banner-search-btn" title="Search Geekdojo" type="submit"><i class="fal fa-search"></i></button>
                    </form>
                </div>
            </div>
        </header>

        <section class="row">
        
            <div class="col-sm-12 main-header-separator">
                <svg class="main-header-sep-triangle" width="82" height="61" viewBox="0 0 82 61" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M41.0215 61L0.318288 0.25L81.7247 0.250007L41.0215 61Z" fill="#101010"/>
                </svg>
            </div>

            <div class="col-sm-12">
                <div class="is-disabled-text text-md-weight text-sm pull-left" id="homepage-article-count">9 of 9 Articles</div>
                <div class="dropdown pull-right homepage-filter-drop-down">
                    <button class="btn btn-secondary dropdown-toggle text-hv-weight text-sm text-start icon" type="button" id="homepage-filter-ddl-btn" data-bs-toggle="dropdown" aria-expanded="false">
                        Featured
                    </button>
                    <ul id="homepage-filter-ddl" class="dropdown-menu text-sm is-undecorated-list" aria-labelledby="homepage-filter-ddl-btn">
                        <li><a class="dropdown-item" data-category-slug="all">All</a></li>
                        <li><a class="dropdown-item" data-category-slug="featured">Featured</a></li>
                        {{#categories}}
                            <li><a class="dropdown-item" data-category-slug="{{{slug}}}">{{{name}}}</a></li>
                        {{/categories}}
                    </ul>
                </div>
                <span class="pull-right is-disabled-text text-md-weight text-sm d-none d-lg-block">Filter By &nbsp;&nbsp;</span>
            </div>
        </section>

        <section class="row">

            <ul class="article-blocks is-undecorated-list">
                {{#directory}}{{#isAd}}<li class="category-box isAd" style="display:none;">
                        <div class="category-box-image">
                            <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=12&l=ur1&category=electronics&banner=1RJ5QAT5B55ECPXSXB82&f=ifr&linkID=35057d845d963f6e119f094eec13f139&t=geekdojo-20&tracking_id=geekdojo-20" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;display:inherit;border-radius:10px;" frameborder="0"></iframe>
                        </div>
                        <div class="category-box-infobox text-sm is-disabled-text">Ad to support geekdojo.</div>
                    </li>{{/isAd}}{{^isAd}}<li class="category-box {{#categorySlugs}}{{{.}}} {{/categorySlugs}}" style="display:none;">
                        <div class="category-box-image" style="background: url('{{{imageUrl}}}') no-repeat center center;background-size:cover;" onclick="window.location.href = '{{{url}}}';"></div>
                        <div class="category-box-infobox">
                            <div class="category-box-title text-md text-hv-weight" onclick="window.location.href = '{{{url}}}';">{{{title}}}</div>
                            <div class="category-box-slugs">
                                <ul class="category-box-slugs-list is-undecorated-list">
                                    {{#categorySlugs}}<li class="text-sm is-disabled-text" title="{{{.}}}">{{{.}}}</li>{{/categorySlugs}}
                                </ul>
                            </div>
                            <div class="category-box-profile">
                                <div class="pull-left" style="height: 40px !important" onclick="window.location.href = 'about.html';" title="Geekdojo profile"><div class="geekdojo-profile"></div><div class="geekdojo-profile-username text-md-weight text-sm">geekdojo</div></div>
                                <div class="pull-right"><div class="share-icon-buffer"><i onclick="copyToClipboard(this, 'fa-link', '{{{url}}}')" class="rounded-icon-md share-icon fal fa-link" title="Copy permalink"></i></div></div>
                            </div>
                        </div>
                    </li>{{/isAd}}{{/directory}}
            </ul>
        </section>
    </div>

    <div class="homepage-bottom-banner">

    </div>

