{{!master(layout/_master.tmpl)}}

    <div class="landingpage-header"></div>
    <div class="header-logo-container"><div class="header-logo-block"></div></div>
    <div class="landingpage-accent"></div>
    <div class="container-xxl">
        <header class="row profile-header-row">
            {{>partials/navbar}}
        </header>

        <section class="row">
            <div class="leaderboard-top-banner">
                <div class="google-ad google-ad-top-banner"> </div>
            </div>
        </section>
        
        <section class="row row-margin-double">
            <div class="col-lg-12">
                <div class="conceptual-banner">
                    <div class="geekdojo-profile geekdojo-profile-md inline-block" style="margin-right: 1rem;"></div><div class="inline-block transform-y-50">
                        <h4 class="text-hv-weight">{{title}}</h4>
                        <div class="text-sm">by geekdojo</div>
                    </div>
                    <div class="pull-right">
                        {{#docurl}}
                        <div class="is-card feedback-edit-link">
                            <a href="{{docurl}}" target="_blank" title="Send feedback about this page">
                                <i class="far fa-comment-dots"></i> Feedback
                            </a>
                        </div>
                        {{/docurl}}
                        {{#sourceurl}}
                        <div class="is-card feedback-edit-link">
                            <a href="{{sourceurl}}" target="_blank" title="Edit This Document" >
                                <i class="far fa-edit"></i> Edit
                            </a>
                        </div>		
                        {{/sourceurl}}
                    </div>
                </div>
            </div>
        </section>

        <section class="row">
            {{^_disableToc}}
            <div class="col-sm-2">
                <div class="is-card landing-toc">
                    {{>partials/toc}}
                </div>
            </div>
            <div class="col-sm-10">
            {{/_disableToc}}                    
            {{#_disableToc}}
            <div class="col-sm-12">
            {{/_disableToc}}
                <div class="row row-cols-1 row-cols-md-2">
                    {{#landingContent}}
                    <div class="col">
                        <div class="card is-card landing-card">
                            <h5>{{title}}</h5>
                            <hr />
                            {{#linkLists}}
                                <h6 class="is-uppercase text-sm">
                                    <span class="has-margin-right-extra-small align-self-center font-size-h5 lp-card-topic lp-card-topic-{{{linkListType}}}" aria-hidden="true"></span>
                                    {{topic_word}}
                                </h6>
                                <hr class="header-rule-sm">
                                {{#links}}
                                <p><a href="{{{url}}}" target="{{{target}}}">{{{text}}}</a></p>
                                {{/links}}
                            {{/linkLists}}
                        </div>
                    </div>
                    {{/landingContent}}
                </div>               
            </div>
        </section>