{{!master(layout/_master.tmpl)}}

    <div class="search-header"></div>
    <div class="header-logo-container"><div class="header-logo-block"></div></div>
    <div class="container-xxl">
        <header class="row search-header-row">
            {{>partials/navbar}}
        </header>

        <section class="row">
            <h1 class="is-text-centered text-title-weight" style="margin-top: 3rem;">Search</h1>
            <div class="is-text-centered">
                <form class="form-inline" action="search.html">
                    <input class="form-control-inline main-banner-searchbox" type="search" name="q" aria-label="Search" placeholder="Search" /><button class="btn btn-primary btn-header-search main-banner-search-btn" title="Search Geekdojo" type="submit"><i class="fal fa-search"></i></button>
                </form>
            </div>
        </section>

        <section class="row">
            <div class="col-sm-12">
                {{=<% %>=}}

                <!-- Search Results -->
                <div id="search-results">
                    <ul>
                        <li v-for="item in searchResults.items" class="search-result-item">
                            <h5><a :href="item.link" v-html="item.htmlTitle" class="search-result-item-link"></a></h5>
                            <div v-html="item.htmlSnippet"></div>                                    
                            <div class="text-sm"><a :href="item.link" v-html="item.htmlFormattedUrl" class="search-result-item-htmlLink"></a></div>
                        </li>
                    </ul>
                </div>

                <script type="text/javascript">

                    var searchResultApp =  new Vue({
                        el: '#search-results',
                        data: {
                            searchResults: {items:[]}
                        },
                        mounted () {                        
                            const urlParams = new URLSearchParams(window.location.search);
                            const searchParam = urlParams.get('q');
                            axios.get('https://www.googleapis.com/customsearch/v1?key=AIzaSyBc8FQ1TZwU4k-jZCzJqvBXUmRrXpqB748&cx=761f405e66d6248a4&q='+searchParam+'&safe=active').then(response => (this.searchResults = response.data));
                        }
                    });

                </script>

                <%={{ }}=%>
            </div>
        </section>
    </div>