{{!master(layout/_master.tmpl)}}

        <section>
            <div class="row search-hero">
                <div class="col-lg-12">
                    <h2>Search the Dojo...</h2>
                    <div>...including content, images, code, projects, inspiration, and more!</div>
                    
                    <form class="form-inline my-2 my-lg-0" id="hero-search-form" action="#">
                        <input id="hero-search-input" class="form-control mr-sm-2 hero-search-input" type="search" placeholder="Search the Dojo" title="Press enter to search." aria-label="Search">      
                    </form>
                </div>
            </div>
        </section>
        <section>
            <div class="uhf-container has-padding-bottom-extra-large has-padding-top-extra-large">            
                <div class="row">
                    <div class="col-sm-12">
                        {{=<% %>=}}

                        <!-- Search Results -->
                        <div id="search-results">
                            <ul>
                                <li v-for="item in searchResults.items" class="search-result-item">
                                    <div><a :href="item.link" v-html="item.htmlTitle" class="search-result-item-link"></a></div>
                                    <div v-html="item.htmlSnippet"></div>                                    
                                    <div><a :href="item.link" v-html="item.htmlFormattedUrl" class="search-result-item-htmlLink"></a></div>
                                </li>
                            </ul>
                        </div>

                        <script type="text/javascript">

                            var searchResultApp =  new Vue({
                                el: '#search-results',
                                data: {
                                    searchResults: {items:[]}
                                },
                                mounted () {                        
                                    const urlParams = new URLSearchParams(window.location.search);
                                    const searchParam = urlParams.get('q');
                                    axios.get('https://www.googleapis.com/customsearch/v1?key=AIzaSyBc8FQ1TZwU4k-jZCzJqvBXUmRrXpqB748&cx=761f405e66d6248a4&q='+searchParam).then(response => (this.searchResults = response.data));
                                }
                            });

                        </script>

                        <%={{ }}=%>
                    </div>
                </div>
            </div>
        </section>