
.leaderboard-top-banner {
    padding: 2rem;
}

.google-ad {
    margin: auto;
    background-color: var(--secondary);
}

.google-ad-top-banner {
    height: 180px;
    width: 930px;
}

.google-ad-large-rect {
    height: 280px;
    width: 336px;
}