
html, body, .form-control, .form-control:focus, .btn, .list-group-item {
    background-color: var(--background) !important;
    color: var(--primary) !important;
}

a {
    color: var(--primary) !important;
    text-decoration: none !important;
}

code {
	direction: ltr;
	font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
}

pre {
	font-size: .875rem;
	overflow: auto;
	border: 1px solid var(--black);
	background-color: var(--theme-code-block);
	font-smooth: auto;
	padding: 1rem;
	margin: 1rem 0 0;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	-moz-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	hyphens: none;
	-webkit-overflow-scrolling: touch;
}

pre > code {
    position: relative;
    border: 0;
    padding: 0;
    display: block;
}

section {
    margin: 1rem;
}

ul {
    list-style: none;
    padding: 0 !important;
}

.force-dark {
    color: var(--white) !important;
    background-color: var(--dark-background) !important;
}

.force-light {
    color: var(--black) !important;
    background-color: var(--light-background) !important;
}

.geekdojo-profile {
    display: inline-block;
    color: var(--white);
    background-color: var(--secondary);    
    height: 40px;
    width: 40px;
    background-image:    url(media/FB_Profile_Avatar.jpg);
    background-size:     contain;
    background-repeat:   no-repeat;
    background-position: center center;
    border-radius: 20px;
    cursor: pointer;
}

.geekdojo-profile-username {
    display: inline-block;
    color: var(--disabled-text);    
    cursor: pointer;
    padding-left: .5rem;
    position: absolute;
    line-height: 40px !important;
}

.is-disabled-text {
    color: var(--disabled-text);
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.text-xs {
    font-size: .5rem !important;
    line-height: .75rem;
}

.text-sm {
    font-size: .75rem !important;
    line-height: 1rem;
}

.text-md {
    font-size: 1rem !important;
    line-height: 1.25rem;
}

.text-lg {
    font-size: 1.5rem !important;
    line-height: 1.5rem;
}

.text-lt-weight {
    font-weight: 200;
}

.text-md-weight {
    font-weight: 400;
}

.text-hv-weight {
    font-weight: 800;
}