
html, body, .form-control, .form-control:focus, .list-group-item {
    background-color: var(--background) !important;
    color: var(--primary) !important;
}

a {
    color: var(--primary) !important;
    text-decoration: none !important;
}

article.content-normal a {
    color: var(--secondary) !important;
}

article.content-normal img {
    width: 100%;
}

article.content-normal td, th {
    padding: .5rem;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

code {
	direction: ltr;
	font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
}

footer {
    margin-top: 1rem;
}

img {
    border-radius: .25rem;
}

pre {
	font-size: .875rem;
	overflow: auto;
	border: 1px solid var(--black);
	background-color: var(--theme-code-block);
	font-smooth: auto;
	padding: 1rem;
	margin: 1rem 0 0;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	-moz-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	hyphens: none;
	-webkit-overflow-scrolling: touch;
}

pre > code {
    position: relative;
    border: 0;
    padding: 0;
    display: block;
}

section {
    margin: 1rem;
}

ul {
    list-style: none;
    padding: 0 !important;
}

.content-normal {
    background-color: var(--card_background);
    border-radius: var(--std_border_radius);
    padding: .5rem;
    margin-bottom: 2rem;
}

.copyright-row {
    height: 50px;
    line-height: 50px !important;
    margin: auto !important;
    background-color: rgba(223, 224, 229, 0.2);
}

.footer-logo {
    min-width: 243px;
    margin-left: .5rem;
}

.footer-follow-us {
    display: inline-block;
}

.footer-follow-us li {
    display: inline-block;
    padding-right: 1rem;
}

.footer-follow-us i {
    background-color: var(--dark-background);
    color: var(--white);
}

@media (prefers-color-scheme: dark) {
    .footer-follow-us i {
        background-color: var(--light-background);
        color: var(--black);
    }
}

.force-dark {
    color: var(--white) !important;
    background-color: var(--dark-background) !important;
}

.force-light {
    color: var(--black) !important;
    background-color: var(--light-background) !important;
}

.geekdojo-profile {
    display: inline-block;
    color: var(--white);
    background-color: var(--secondary);    
    height: 40px;
    width: 40px;
    background-image:    url(media/FB_Profile_Avatar.jpg);
    background-size:     contain;
    background-repeat:   no-repeat;
    background-position: center center;
    border-radius: 20px;
    cursor: pointer;
}

.geekdojo-profile-md {
    height: 88px;
    width: 88px;
    border-radius: 44px;
}

.geekdojo-profile-username {
    display: inline-block;
    color: var(--disabled-text);    
    cursor: pointer;
    padding-left: .5rem;
    position: absolute;
    line-height: 40px !important;
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

.inline-block {
    display: inline-block;
}

.logo-light {
    display: block;
    width: 243px;
}

.logo-dark {
    display: none;
    width: 243px;
}

@media (prefers-color-scheme: dark) {
    .logo-light {
        display: none;
    }

    .logo-dark {
        display: block;
    }
}

.is-disabled-text {
    color: var(--disabled-text);
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.rounded-icon-md {
    height: 30px;
    width: 30px;
    line-height: 30px !important;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}

.rounded-icon-lg {
    height: 40px;
    width: 40px;
    line-height: 40px !important;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

.rounded-icon-xl {
    height: 80px;
    width: 80px;
    line-height: 80px !important;
    border-radius: 40px;
    text-align: center;
    cursor: pointer;
}

.row-margin-double {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.share-icon {
    background-color: var(--light-background);
    color: var(--black);
}

@media (prefers-color-scheme: dark) {
    .share-icon {
        background-color: var(--dark-background);
        color: var(--white);
    }
}

.text-xs {
    font-size: .5rem !important;
    line-height: .75rem;
}

.text-sm {
    font-size: .75rem !important;
    line-height: 1rem;
}

.text-md {
    font-size: 1rem !important;
    line-height: 1.25rem;
}

.text-lg {
    font-size: 1.5rem !important;
    line-height: 1.5rem;
}

.text-lt-weight {
    font-weight: 200;
}

.text-md-weight {
    font-weight: 400;
}

.text-hv-weight {
    font-weight: 800;
}

.transform-y-50 {
    transform: translateY(-50%);
}