
.bs-docs-sidebar {
    overflow-x: hidden;
    text-overflow: ellipsis;
    position: sticky;
    top: 0;
}

.conceptual-header {
    position: relative;
    background-color: transparent;
}

.conceptual-header::before {
    position: absolute;
    
    height: 100px;
    width: 100%;  
    
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--header_background);
    
    content: " ";
    overflow: hidden;
}

.conceptual-header-row {
    margin-top: 0 !important;
    margin-bottom: 1rem;
    height: 100px;
    color: var(--white);
    background-color: transparent;
}

.conceptual-banner {
    height: 88px;
}

.conceptual-banner h1 {
    font-weight: 700;
}

.feedback-edit-link {
    background-color: var(--card_background);
    line-height: 2rem;
    border-radius: var(--std_border_radius);
    padding: .25rem .5rem;
    margin: .25rem;
}

.project-file {
}

.fotorama__thumb-border {
    border-color: transparent !important;
}

.fotorama__img {
    border-radius: var(--std_border_radius) !important;
}
