
input, button {
    border-radius: .25rem;
    border: none !important;
}

input[type="text"], input[type="search"], textarea, option, .dropdown-toggle, .dropdown-menu {
    background-color: var(--card_background) !important;
    color: var(--black);    
}

@media (prefers-color-scheme: dark) {
    input[type="text"], input[type="search"], textarea, option, .dropdown-toggle, .dropdown-menu {
        color: var(--white);
    }
}

.dropdown-item:hover {
    background-color: var(--card_background) !important;
    color: var(--secondary) !important;
}

input[type="text"]::placeholder { 
    color: var(--disabled-text);
    font-style: italic;
    padding-left: 2rem; 
}

input[type="search"]::placeholder { 
    color: var(--disabled-text);
    font-style: italic;
    padding-left: 2rem; 
}

input:focus, button:focus, a {
    outline: none !important;
    box-shadow: none !important;
}

.form-control {
    border: none !important;
}

.form-control:focus {   
  box-shadow: 0 1px 1px rgba(var(--background_rgb), 0.075) inset, 0 0 8px rgba(var(--secondary_rgb), 0.6);
  outline: 0 none;
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

.dropdown-toggle:after {
    color: var(--secondary) !important;
    width: 10px;
    height: 10px;
    border: none !important;
    font-family: "Font Awesome 5 Pro"; 
	font-weight: 400;
    content: "\f107" !important;
    vertical-align: baseline !important;
    float: right;
  }
