


.article-blocks {
    margin: auto;
}

.article-blocks > li {
    display: inline-block;
    width: 300px;
    height: 392px;
    margin: 15px;
    border-radius: 10px;
    background: var(--card_background);
    box-shadow: 0px 20px 20px rgba(83, 83, 83, 0.17);
}

.category-box-image {
    width: 300px;
    height: 234px;
    border-radius: 10px;
    content: "";
    cursor: pointer;
}

.category-box-infobox {
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 158px;
}

.category-box-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: .25rem;
    cursor: pointer;
}

.category-box-slugs-list > li {
    display: inline-block;
    border: 1px solid var(--disabled-text);
    border-radius: 1rem;
    margin: .2rem;
    padding: .3rem .3rem .4rem .3rem;
    cursor: pointer;
}

.category-box-slugs-list > li:first-child {
    margin: .2rem .2rem .2rem 0;
}

.category-box-slugs-list > li:hover {
    color: var(--white);
    background-color: var(--disabled-text);    
}

.category-box-profile {
    height: 80px;
    padding-top: 40px;
}


.header-homepage {
    position: relative;
    background-color: transparent;
}

.header-homepage::before {
    position: absolute;
    
    height: 500px;
    width: 1920px;  
    
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    background-image:    url(media/home_header_banner.png);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    
    content: " ";
    overflow: hidden;
}

.header-logo-container {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 674px;
    display: inline-block;
}

.header-logo-block {
    height: var(--header-height);
    width: 15%;
    background-color: var(--background);
    display: inline-block;
}


.homepage-bottom-banner {
    position: relative;
    background-color: transparent;
    height: 490px;
    margin-top: 6rem;
}

.homepage-bottom-banner::before {
    position: absolute;
    height: 490px;
    width: 1920px;
    left: 50%;
    transform: translate(-50%);    
    background-image:    url(media/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    content: " "
}

.homepage-header-row {
    margin-top: 0 !important;
    height: 500px;
    color: var(--white);
    background-color: transparent;
}

.homepage-filter-drop-down {
    margin-top: -.5rem;
}

.homepage-filter-drop-down .btn {
    width: 150px;
}

.main-banner {
    margin: auto;
    text-align: center;
    z-index: 1;
}

.main-banner h1 {
    font-weight: 700;
    padding-bottom: 2rem;
}

.main-banner p {
    color: var(--disabled-text);
    max-width: 805px;
    margin: auto;
    padding-bottom: 3rem;
}

.main-banner-searchbox {
    height: 46px;
    line-height: 1.5rem;
    place-content: "Search";
    width: 40% !important;
    border: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.main-banner-search-btn {
    height: 46px;
    width: 46px;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    margin-top: -5px;
}

.main-header-sep-triangle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -.5rem;
}

.share-icon-buffer {
    display: inline-block;
    padding: 5px;
}