
.landingpage-accent {
    position: absolute;
    top: 281px;
    left: 97%;
    height: 360px;
    width: 360px;
    background-color: var(--header_background);
    border: 60px solid var(--secondary);
    transform: rotate(45deg);
    z-index: -1;
    content: " ";
}

.landingpage-header {
    position: relative;
    background-color: transparent;
}

.landingpage-header::before {
    position: absolute;
    
    height: 461px;
    width: 100%;  
    
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--header_background);
    
    content: " ";
    overflow: hidden;
    z-index: -1;
}

.landing-card {
    padding: .5rem;
}

.landing-toc {
    padding: .5rem;
}

