
.btn-header-search {
    height: 38px;
    width: 38px;
    background-color: var(--secondary) !important;
    color: var(--white) !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.header-search-box {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.header-search-container:hover .header-search-box {
    display: inline-block !important;
}

.header-nav {
    min-height: var(--header-height);
    z-index: 2;
}

.navbar {
    height: var(--header-height);
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.navbar-brand {
    padding: 0 !important;
    height: var(--header-height) !important;
}

.navbar-logo-container {
    height: var(--header-height);
    display: inline-block;
}

.navbar-logo-block {
    height: var(--header-height);
    background-color: var(--background);
    display: inline-block;
}

.navbar-logo-end  {
    width: 0; 
    height: 0;
    border-bottom: var(--header-height) solid transparent;    
    border-left: var(--header-height) solid var(--background);
    display: inline-block;
}

.header-logo {
    min-width: 243px;
    min-height: var(--header-height);
    margin-left: .5rem;
}

.header-nav-ul {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    line-height: 2rem;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (prefers-color-scheme: dark) {
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}

#navbarSupportedContent {
    margin-bottom: auto;
}

.nav-item {
    margin-left: .5rem !important;
    border-top: 0;
    border-left: 4px solid transparent;
    background-color: var(--background);
}

.nav-item:hover {
    border-top: 0;
    border-left: 4px solid var(--secondary);
}

.nav-item a {
    color: var(--disabled-text) !important;
}

@media (min-width: 992px) {  

    .nav-item {
        margin-left: 2rem !important;
        border-top: 4px solid transparent;
        border-left: 0;
        background-color: transparent;
    }

    .nav-item:hover {
        border-top: 4px solid var(--secondary);
        border-left: 0;
    }
}
