{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
{{!include(/^styles/.*/)}}
{{!include(/^fonts/.*/)}}
{{!include(favicon.ico)}}
{{!include(logo.svg)}}
<!doctype html>
<html lang="en">
  {{>partials/head}}
  <body>
  
    {{!body}}

    <div class="container-xxl">
        <footer>
        {{>partials/footer}}
        </footer>
    </div>
    <div class="copyright-row">
        <div style="text-align:center;"><h6 style="line-height: inherit;">Copyright &copy; {{{currentYear}}} geekdojo</h6></div>
    </div>

    {{>partials/scripts}}
  </body>
</html>
